@tailwind base;
@tailwind components;
@tailwind utilities;

.shantell-sans-font {
  font-family: 'Shantell Sans', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'BNCE' 0, 'INFM' 0, 'SPAC' 0;
}

.figtree-font {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word; /* Ensure long words are broken properly */
}

body {
  font-family: 'Figtree', sans-serif;
  /* .no-spinners {
    -moz-appearance: textfield;
  }

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
}

@layer base {
  :root {
    --color-theme: #ffffff;
    --color-bgBase: #f7f9fb;
    --color-content: #1c1c1d;
    --color-grey: #7e7e7e;
    --color-grey10: #969696;
    --color-primary: #7c57ff;
    --color-primary10: #a193ff;
    --color-primary20: #f7f4ff;
    --color-primaryLite: #fbfaff;
    --color-error: #e60000;
    --color-blue: #4fabfd;
    --color-blueLite: #ddefff;
    --color-orange: #fa9804;
    --color-orangeLite: #fff2de;

    /* ... */
  }
  :root[theme='dark'] {
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    /* ... */
  }
}

.wrapper {
  width: calc(100vw - 72px);
  margin-left: 72px;
  white-space: pre-wrap;
  padding: 26px 40px;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 40px;
}
